.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 14px !important;
  /* margin: 0 !important; */
  /* text-align: center !important;
  align-content: center !important;
  align-items: center !important; */
}
.ant-notification-notice-close {
  top: 8px !important;
  right: 8px !important;
}
.ReactVirtualized__Grid {
  overflow-x: hidden !important;
}
